* {
  margin: 0;
  padding: 0;
}

a:visited,
a:active,
a:link {
  display: block;
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.698);
  font-style: italic;
}

p {
  font-size: 1em;
}

.root {
  height: 100%;
}

.section-one {
  background-image: url("../assets/background_flowers_2.jpeg");
  height: 40vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two {
  background-image: url("../assets/background_flowers.jpg");
  height: 30vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail {
  display: flex;
  background-image: linear-gradient(to right, #d8b4fe, #e9d5ff, #ede9fe);
  height: fit-content;
  padding: 1em;
  gap: 1em;
  width: 100%;
}

/* about me */

.detail-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
}

.detail-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 66.666%;
}

.profile-pic {
  display: flex;
  width: 70%;
}

footer {
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  gap: 1em;
  background-image: linear-gradient(to right, #ede9fe, #e9d5ff, #d8b4fe);
  padding: 0.5em;
  color: black;
}

@media only screen and (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .detail-heading {
    width: 100%;
    align-items: center;
  }

  .detail-text {
    width: 90%;
  }

  .profile-pic {
    width: 50%;
  }

  h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  p {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 1.5em;
  }

  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
