header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-wrapper {
  background-image: linear-gradient(to right, #ede9fe, #e9d5ffc7, #d8b4fec7);
  padding: 1em 1em 0;
}

.navbar-gradient {
  color: #581c87;
  background-image: linear-gradient(90deg, #7e22ce 10%, #d8b4fe 50%),
    linear-gradient(90deg, #d8b4fe 10%, #ede9fe 50%);
  background-position: 0 100%;
  background-size: 100% 0, 100% 0;
  background-repeat: no-repeat;
  transition: background-size 1s;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.navbar-gradient:hover {
  background-image: linear-gradient(90deg, #7e22ce 10%, #d8b4fe 50%),
    linear-gradient(90deg, #d8b4fe 10%, #ede9fe 50%);
  background-size: 0 0, 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.full-name {
  font-size: 2.5em;
  font-weight: bold;
}

.detail-wrapper {
  background-color: red;
}

.detail {
  display: flex;
  background-image: linear-gradient(to right, #d8b4fe, #e9d5ff, #ede9fe);
  height: fit-content;
  padding: 1em;
  gap: 1em;
}

/* about me */

.detail-heading {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.detail-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.profile-pic {
  display: flex;
  width: 20vh;
}

@media only screen and (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .detail-heading {
    width: 100%;
    align-items: center;
  }

  .full-name {
    font-size: 2em;
  }

  h1 {
    font-size: 1.75em;
  }
}
