p {
  margin: 0;
}

.resume {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #d8b4fe, #e9d5ff, #ede9fe);
  height: fit-content;
  padding: 1em;
  gap: 1em;
}

.resume-detail {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #d8b4fe, #e9d5ff, #ede9fe);
  height: fit-content;
  /* gap: 1em; */
}

.resume-list {
  display: flex;
  gap: 10em;
}

.resume-section {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 0.5em;
  width: 100%;
}

li, .resume-section p {
  font-size: 1.25em;
}

.resume-section h3 {
  font-size: 1.5em;
}

.resume-section-heading {
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.resume-skills-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resume-skills-category, .resume-subheading {
  color: black;
  font-weight: bold;
}

.resume-experience-heading {
  display: flex;
  justify-content: space-between;
}

.resume-experience-heading p {
  display: flex;
  height: fit-content;
}

.resume-education {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.resume-education-detail {
  font-style: italic;
}

/* .resume-skills-details {
  display: flex;
  width: 100%;
} */

button {
  border: none;
  background-color: #ede9fe;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

button:hover {
  background-color: #e9d5ff;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .resume {
    gap: 2em;
  }

  .resume-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .resume-section h3 {
    font-size: 1.1em;
  }

  li, .resume-section p {
    font-size: 1em;
  }
}